
.social_media_info{
    background-image: url('https://wallpapercave.com/wp/wp1912958.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 8%;
    padding-bottom: 8%;
}
@media screen and (max-width: 800px) {
    .social_media_info{
        background-image: url('https://wallpapercave.com/wp/wp1912958.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 6%;
        padding-bottom: 6%;
    }
}
@media screen and (max-width: 500px) {
    .social_media_info{
        background-image: url('https://wallpapercave.com/wp/wp1912958.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 4%;
        padding-bottom: 4%;
    }
}
@media screen and (max-width: 300px) {
    .social_media_info{
        background-image: url('https://wallpapercave.com/wp/wp1912958.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 4%;
        padding-bottom: 4%;
    }
}
.sm-form-box{
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    opacity: 0.93;
}
.form-logo{
    text-align: right;
}
@media screen and (max-width: 500px) {
    .form-logo{
        text-align: center;
    }
}